@import 'tailwindcss/base';
@import './fonts.css';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
@import './utilities/layout.css';

.layout-enter-active,
.layout-leave-active,
.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-500 ease-out;
}

.layout-enter-from,
.layout-leave-to,
.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}
